[submodule "server/node_modules/step"]
	path = server/node_modules/step
	url = git://github.com/creationix/step.git
[submodule "server/node_modules/mongodb"]
	path = server/node_modules/mongodb
	url = git://github.com/christkv/node-mongodb-native.git
